    </div>
        <footer class="footer" style="padding:20px;">
            <div class="container">
                <span class="text-muted"><a href="http://www.apuroopnaidu.com" target="_blank">Apuroop Naidu</a>  &copy; <script>document.write(new Date().getFullYear())</script> | <a href="https://darksky.net" target="_blank">DarkSky API</a> | <a href="https://developers.google.com/maps/" target="_blank">Google Maps API</a></span>
            </div>
        </footer>
    <script src="/dist/jquery.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html> 