<html>
    <head>
        <title>Weather Application</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
            <style>
                body {
                    text-align: center;
                }
                .myOwnDiv1{
                    padding: 20px;
                    margin-bottom: 30px;
                    margin-top: 30px;
                    height: 290px;
                }
                .myOwnDiv2{
                    padding: 30px;
                    margin-top:30px;
                    margin-bottom:30px;
                    height: 625px;
                    width: 570px;
                }
            </style>
    </head>
    <body>
        <% include navbar %>
        <div class="container">
            <div class="jumbotron" style="margin-top:30px;">
                <h1>Weather Application</h1> 
                <p>Type the street address, city, state to get the real time weather details.</p>
            </div>