<% include header %>
    <div class="mx-auto border rounded myOwnDiv1">
        <form action="http://localhost:5001" method="post">
            <div class="form-group">
                <label for="location"></label>
                <input type="text" name="location" value="" class="form-control form-control-lg" style="margin-bottom:20px; margin-top:20px;" placeholder="Type Your Location..." required>
                <p class="text-danger" style="margin-bottom:35px;">Try to be as accurate as possible.</p>
                <button type="submit" class="btn btn-success btn-lg">Go</button>
            </div>
        </form>
    </div>
<% include footer %>